.funcaoad{
    margin-left: 0px;
    padding: 0;
}

.cardad{
    border: solid 1px;
}

.inputNomead{
    width: 300px;
}

.inputEmailad{
    width: 300px;
}

.inputIdadead{
    width: 40px;
}
.inputFuncaoad{
    width: 300px;
}

.btnad{
    margin-bottom: 10px;
    margin-left: 600px;
}