p{
    color: rgb(80, 73, 73);
}

.cabecalho-pergunta{
    background-color: rgb(9, 61, 202);
    color: white;
    border-radius: 10px;
}

.questionario{
    
    padding: 2px;
}

input{
    margin-right: 50px;
    margin-bottom: 20px;
}

.Containerquestionario{
    border-radius: 10px;
    border: solid 1px;
}