.table{
    width: inherit;

    
}

thead{
    background-color: blue;
    color: white;
}



/* th{
    padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
}

td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    
} */

.excluir{
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-right: 2px;
    cursor: pointer;
    
}

.visualiza{
    background-color: blue;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}